body {
	position: relative;

	min-height: 100dvh;
	font: var(--regular);
	background-color: var(--light);
	color: var(--darker);
	line-height: 1.5;
}

main {

	padding-inline: var(--spacing-thin);
	p + p {
		margin-top: 0.5rem;
	}
}

body > header {
	background-color: var(--dark);
}

main > * + :is(section, div),
main > section:first-child {
	margin-top: var(--spacing-thin);

	@media screen and (min-width: 768px) {
		margin-top: var(--spacing-broad);

		min-width: 30ch;
		max-width: 90ch;
		margin-inline: auto;
	}
}

main > :is(section, div):last-child {
	margin-bottom: var(--spacing-thin);

	@media screen and (min-width: 768px) {
		margin-bottom: var(--spacing-broad);
	}
}
