body {
	position: relative;

	display: flex;
	flex-direction: column;

	min-height: 100dvh;
	font-size: 16px;
	background-color: var(--light);
	color: var(--darker);
	line-height: 1.5;

	@media (min-width: 769px) {
		font-size: 18px;
		flex-direction: row;
	}
}

body > aside {
	flex-basis: 0;
	background-color: var(--dark);

	@media (min-width: 769px) {
		flex-grow: 1;
		align-self: flex-start;
		height: 100dvh;
		box-sizing: border-box;

		position: sticky;
		top: 0;

		display: flex;
	}

	@media (min-width: 1440px) {
		max-width: 30ch;
	}
}

body > main {
	flex-basis: 0;
	flex-grow: 6;

	padding-inline: var(--spacing-thin);
}

main > * + :is(section, div),
main > section:first-child {
	margin-top: var(--spacing-thin);

	@media screen and (min-width: 768px) {
		margin-top: var(--spacing-broad);

	min-width: 30ch;
	max-width: 90ch;
	margin-inline: auto;
	}
}

main > :is(section, div):last-child {
	margin-bottom: var(--spacing-thin);

	@media screen and (min-width: 768px) {
		margin-bottom: var(--spacing-thin);
	}
}
