h1 {
	font-size: var(--font-tallest);
	font-family: var(--font-accent);
}

h2 {
	font-size: var(--font-taller);
	font-family: var(--font-accent);
}

h3,
h4,
h5 {
	font-family: var(--font-accent);
}

p,
ul,
li {
	font-size: var(--font-current);
	font-family: var(--font-regular);
}
