:root {
	/*============================ */
	/* = COLORS */
	/*============================ */
	--light: #fdfdfc;
	/* --accent: #3C908D; */
	--accent: #f59f99;
	--contrast: #ee6055;
	--contrast-dark: #95180f;

	--dark: #4a4a48;
	--darker: #151514;

	/*============================ */
	/* = SPACING */
	/*============================ */
	--spacing-pico: 0.1rem;
	--spacing-nano: 0.3rem;
	--spacing-micro: 0.5rem;
	/*--- */
	--spacing-thinnest: 1rem;
	--spacing-thinner: 1.5rem;
	--spacing-thin: 2rem;
	--spacing-broad: 4rem;
	--spacing-broader: 6rem;
	--spacing-broadest: 8rem;
	--spacing-large: 10rem;
	--spacing-larger: 12rem;
	--spacing-largest: 16rem;
	/*--- */
	--spacing-mega: 24rem;
	--spacing-giga: 54rem;
	--spacing-tera: 78rem;

	/*============================ */
	/* = DIMENSIONS */
	/*============================ */
	--dimension-tiniest: calc(var(--font-miniature) * 20);
	--dimension-tinier: calc(var(--font-shortest) * 20);
	--dimension-tiny: calc(var(--font-shorter) * 20);
	--dimension-smallest: calc(var(--font-short) * 20);
	--dimension-smaller: calc(var(--font-tall) * 20);
	--dimension-small: calc(var(--font-tallest) * 20);
	--dimension-big: calc(var(--font-huger) * 20);
	--dimension-bigger: calc(var(--font-hugest) * 20);
	--dimension-biggest: calc(var(--font-giant) * 10);

	/*========================= */
	/* = FONT-FAMILY */
	/*========================= */
	--font-accent: "Signika", "Gill Sans", "Gill Sans MT", Calibri,
		"Trebuchet MS", sans-serif;
	--font-regular: "Overpass", "Helvetica", "Arial", sans-serif;

	font-size: 16px;

	@media (min-width: 769px) {
		font-size: 18px;
	}

	/*========================= */
	/* = FONT-SIZE */
	/*========================= */
	--font-mini: 0.64rem;
	--font-short: 0.8rem;
	--font-current: 1rem;
	--font-tall: 1.25rem;
	--font-taller: 1.563rem;
	--font-tallest: 1.953rem;
	--font-huge: 2.441rem;
	--font-huger: 3.052rem;
	--font-hugest: 3.815rem;
	--font-giant: 120px;

	/*========================= */
	/* = FONTS */
	/*========================= */
	--uber: 700 var(--font-huge) / 1 var(--font-accent);
	--h1: 700 var(--font-tallest) / 1 var(--font-accent);
	--h2: 700 var(--font-taller) / 1 var(--font-accent);
	--h3: 700 var(--font-current) / 1 var(--font-accent);
	--regular: 400 var(--font-current) / 1 var(--font-regular);

	/*============================ */
	/* = BORDER SIZE */
	/*============================ */
	--border-slimmest: 1px;
	--border-slimmer: 2px;
	--border-slim: 3px;
	--border-thick: 8px;
	--border-thicker: 10px;
	--border-thickest: 20px;

	/*========================= */
	/* = RADIUS */
	/*========================= */
	--radius-sharpest: 2px;
	--radius-sharper: 3px;
	--radius-sharp: 5px;
	--radius-dull: 15px;
	--radius-duller: 20px;
	--radius-dullest: 80px;

	/*========================= */
	/* = DURATION */
	/*========================= */
	--duration-fastest: 80ms;
	--duration-faster: 200ms;
	--duration-fast: 300ms;
	--duration-medium: 500ms;
	--duration-slow: 750ms;
	--duration-slower: 1000ms;
	--duration-slowest: 10000ms;
}
