.accordion {
	details summary {
		font-family: var(--font-regular);
	}

	details[open] + .accordion__frame {
		max-height: 100vh;
		overflow: hidden;
		transition: all 0.5s ease-in-out;
	}

	* + details {
		margin-top: var(--spacing-thinnest);
	}
}

.accordion__frame {
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all 0.5s ease;

	p {
		margin-block: var(--spacing-nano);
	}
}

.accordion summary:has(.accordion__chevron) {
	list-style: none;
	display: flex;
	gap: var(--spacing-thinnest);
	align-items: center;
	justify-content: space-between;
}

.accordion__chevron {
	display: inline-block;
	transform: rotate(-90deg);
	transform-origin: center;
	transition: all 0.5s ease-in-out;
}

details[open] .accordion__chevron {
	transform: rotate(90deg);
}
