.button {
	display: block;
	width: max-content;
	padding-block: var(--spacing-micro);
	padding-inline: var(--spacing-thinnest);
	border: 2px solid var(--accent);
	background-color: var(--accent);
	color: var(--darker);
	border-radius: var(--radius-sharp);

	font-family: var(--font-accent);

	transition-property: background-color,border-color;
	transition-duration: var(--duration-faster);
	transition-timing-function: var(--ease-in-out);
}

.button:hover {
	background-color: var(--primaire);
}

.button_small {
	font-size: var(--font-short);
	padding-block: var(--spacing-nano);
	padding-inline: var(--spacing-micro);
}

.button_outline-darker {
	border-color: var(--darker);
	background-color: var(--light);
	color: var(--darker);
}

.button_outline-darker:hover {
	border-color: var(--accent);
	background-color: var(--accent);
	color: var(--darker);
}

.button_out-darker_bg-transparent{
	border-color: var(--darker);
	background-color: var(--transparent);
	color: var(--darker);
}

.button_out-darker_bg-transparent:hover {
	border-color: var(--contrast-dark);
	background-color: var(--contrast-dark);
	color: var(--light);
}

.button__group{
	display: flex;
	flex-direction: column;
	gap: var(--spacing-thinner);
	align-items: stretch;

	> .button {
		width: initial;
	}
}
