.content-text p {
hanging-punctuation: none;
}

.content-text > * + :is(.button, p:first-of-type) {
	margin-top: var(--spacing-thinner);
}

.content-text > * + * {
	margin-top: var(--spacing-thinnest);
}

.content-text li {
	margin-inline: var(--spacing-thinner);
}

.content-text__title {
	border-bottom: 0.25rem solid var(--darker);
	padding-bottom: var(--spacing-thinner);
}