.content-text {
	min-width: 30ch;
	max-width: 100ch;
}

.content-text > * + :is(.button, p:first-of-type) {
	margin-top: var(--spacing-thinner);
}

.content-text > * + * {
	margin-inline: var(--spacing-thinner);
	margin-top: var(--spacing-thinnest);
}

.content-text li {
	margin-inline: var(--spacing-thinner);
}

.content-text__title {
	border-bottom: 0.25rem solid var(--accent);
	padding-bottom: var(--spacing-thinner);
}

.content-text .small-italic {
	font-size: var(--font-short);
	font-style: italic;
}

.content-text .underline {
	border-bottom: 2px solid var(--accent);
}
