.content-list > * + :is(article, div) {
	margin-top: var(--spacing-thinner);
}

.content-list > * + :is(p, ul) {
	margin-top: var(--spacing-thinnest);
}

.content-list section > div{
	margin-top: var(--spacing-thinnest);
}


.content-list svg {
	max-width: 12ch;
}

.content-list p:has(svg) 
{
	display: flex;
	align-items: center;
	gap: var(--spacing-micro);

	> span{
	font-size: var(--font-short);
}
}