/* style reset for dummy nav */
ul:has(.dropdown),
ul:has(.dropdown) li {
	list-style: none;
	border-bottom: 1px solid transparent;
}
ul:has(.dropdown) li {
	padding: var(--spacing-nano);
}

ul:has(.dropdown) > li:hover,
.dropdown__content li:hover {
	border-bottom: 1px solid var(--contrast);
}

.dropdown {
	position: relative;
}

.dropdown:hover .dropdown__content {
	opacity: 1;
}

.dropdown__content > li{
	display: block;
	width: max-content;
}

.dropdown__content {
	position: absolute;
	top: 100%;
}

.dropdown:not(:hover) .dropdown__content {
	opacity: 0;
	pointer-events: none;
}

ul:has(.dropdown) {
	display: flex;
	gap: var(--spacing-thinnest);
}
