.menu__link {
	display: block;
	width: 24px;
	height: 100%;

	path {
		fill: var(--secondary);

		transition-property: fill;
		transition-duration: var(--duration-faster);
		transition-timing-function: var(--ease-in-out);
	}
}

.menu__link:hover > path {
	fill: var(--contrast);
}

.menu {
	background-color: var(--dark);
	color: var(--secondary);
	padding: var(--spacing-thin);

	@media (min-width: 700px) {
		padding: var(--spacing-broad);
	}
}

.menu {
	display: flex;
	gap: var(--spacing-thin);
	align-items: center;
	justify-content: center;

	@media (min-width: 700px) {
		flex-direction: column;
	}
}

.menu > a {
	font-family: var(--font-accent);
	color: var(--secondary);
}

.menu__link-zone {
	display: flex;
	gap: var(--spacing-thinner);
	margin-left: auto;

	@media (min-width: 700px) {
		margin-top: auto;
	}
}
