[id="nav-button"] {
	position: relative;
	z-index: 25;

	padding-block: var(--spacing-thinnest);
	padding-left: var(--spacing-thin);
	appearance: none;

	color: var(--light);

	cursor: pointer;

	@media (min-width: 769px) {
		display: none;
	}
}

@media (max-width: 769px) {
	[id="nav-button"]:not(:checked) + .nav {
		opacity: 0;
		pointer-events: none;
	}
	[id="nav-button"]::after {
		content: "☰ Menu ";
		font-size: var(--font-tall);
	}

	[id="nav-button"]:checked::after {
		content: "☰ Fermer";
		font-size: var(--font-tall);
	}
}

.nav {
	background-color: var(--darker);
	color: var(--light);
	padding: var(--spacing-thinner);

	position: fixed;
	z-index: 20;
	inset: 0;
	transition: opacity 200ms ease-in;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@media (min-width: 769px) {
		position: sticky;
		margin-inline: auto;
		flex-direction: row;
	}
}

.nav {
	display: flex;
	gap: var(--spacing-thinner);
	align-items: center;
	justify-content: center;
	padding-top: 5rem;

	@media (min-width: 769px) {
		padding-top: var(--spacing-thinner);
		justify-content: space-between;
	}
}

.nav > a {
	font-family: var(--font-accent);
	color: var(--light);

	transition-property: color;
	transition-duration: var(--duration-faster);
	transition-timing-function: var(--ease-in-out);

	&:hover {
		color: var(--contrast);
	}
}

.nav__link-zone {
	display: flex;
	gap: var(--spacing-thinner);
	margin-top: var(--spacing-largest);

	@media (min-width: 768px) {
		margin-top: 0;
	}
}

.nav__link {
	display: block;
	width: 24px;
	height: 100%;

	use {
		fill: var(--light);

		transition-property: fill;
		transition-duration: var(--duration-faster);
		transition-timing-function: var(--ease-in-out);
	}
}

.nav__link:hover > path {
	fill: var(--contrast);
}
