@keyframes toastInOut {
	0% {
		transform: translateY(-100%);
		opacity: 0;
		display: none;
	}

	30% {
		transform: translateY(0);
		opacity: 1;
		display: flex;
	}

	70% {
		transform: translateY(0);
		opacity: 1;
		display: flex;
	}

	100% {
		transform: translateY(-100%);
		opacity: 0;
		display: none;
	}
}

@keyframes toastBottomRight {
	0% {
		transform: translateX(200%);
		opacity: 0;
		display: none;
	}

	30% {
		transform: translateX(0);
		opacity: 1;
		display: flex;
	}

	70% {
		transform: translateX(0);
		opacity: 1;
		display: flex;
	}

	100% {
		transform: translateX(200%);
		opacity: 0;
		display: none;
	}
}

@keyframes fullScreenAuto {
	0% {
		transform: scale(0);
		display: none;
	}

	30% {
		transform: scale(1);
		display: flex;
	}

	70% {
		transform: scale(1);
		opacity: 1;
		display: flex;
	}

	100% {
		transform: scale(0);
		display: none;
	}
}

@keyframes fullScreenMan {
	0% {
		transform: scale(0);
		display: none;
	}

	30% {
		transform: scale(1);
		display: flex;
	}

	100% {
		transform: scale(1);
		display: flex;
	}
}

@keyframes fullScreenManClose {
	0% {
		transform: scale(1);
		display: flex;
	}
	100% {
		transform: scale(0);
		display: none;
	}
}

.toast {
	position: fixed;
	z-index: 1000;

	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	color: cornflowerblue;

	& .toast__content {
		padding: 3rem;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: var(--spacing-thinnest);

		transition-behavior: allow-discrete;
		background-color: color-mix(in oklab, var(--accent) 35%, white 65%);

		border-radius: var(--radius-sharpest);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}

	&[data-demo="toastTopInOutAuto"] {
		padding: 1rem 5rem;
		left: 0;
		right: 0;

		& .toast__content {
			height: 100%;
			width: 100%;
			animation: toastInOut 2500ms forwards;
		}
	}

	&[data-demo="toastBottomRightAuto"] {
		padding: 1rem 1rem;
		left: auto;
		top: auto;
		right: 0;
		bottom: 0;

		& .toast__content {
			animation: toastBottomRight 2500ms forwards;
		}
	}

	&[data-demo="fullScreenAuto"] {
		inset: 0;
		height: 100%;
		backdrop-filter: blur(2px);

		& .toast__content {
			height: fit-content;
			width: fit-content;
			animation: fullScreenAuto 2500ms forwards;
		}
	}

	&[data-demo="fullScreenMan"] {
		inset: 0;
		height: 100%;
		backdrop-filter: blur(2px);

		& .toast__content {
			height: fit-content;
			width: fit-content;
			animation: fullScreenMan 2500ms forwards;
		}
	}

	&[data-demo="fullScreenManClose"] {
		inset: 0;
		height: 100%;
		backdrop-filter: blur(2px);

		& .toast__content {
			height: fit-content;
			width: fit-content;
			animation: fullScreenManClose 1250ms forwards;
		}
	}

	& .toast__message {
		color: var(--darker);
		font-family: var(--font-accent);
		font-weight: 700;
		font-size: var(--font-current);
	}

	&[data-type="success"] {
		& .toast-modale-content {
			background-color: color-mix(in oklab, limegreen 20%, white 80%);
		}

		& .toast__message {
			color: limegreen;
		}
	}

	&[data-type="error"] {
		& .toast-modale-content {
			background-color: color-mix(in oklab, tomato 20%, white 80%);
		}
		& .toast__message {
			color: tomato;
		}
	}
}
