/* src wave:  https://codepen.io/natgeyzentech/pen/PoRYvRM */

@keyframes animate {
	0% {
		background-position-x: 0;
	}
	100% {
		background-position-x: 100vw;
	}
}
@keyframes animate2 {
	0% {
		background-position-x: 0;
	}
	100% {
		background-position-x: -100vw;
	}
}

[id="home"] .waves {
	margin: 0;
	overflow: visible;

	position: relative;
	width: 100%;
	height: calc(100dvh - 100px);
	overflow: hidden;
	background-color: var(--darker);
	color: var(--light);

	display: flex;
	align-items: center;

	.wave {
		overflow: auto;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 12vh;
		background: url('/assets/img/wave.png');
		background-size: 150vw 12vh;
		@media (min-width: 769px) {
			height: 20vh;
			background-size: 100vw 20vh;
		}
	}
	.wave1 {
		animation: animate 17s linear infinite;
		z-index: 15;
		opacity: 0.9;
		animation-delay: 0s;
	}
	.wave2 {
		animation: animate2 20s linear infinite;
		z-index: 10;
		opacity: 0.7;
		animation-delay: -5s;
	}
	.wave3 {
		animation: animate 15s linear infinite;
		z-index: 5;
		opacity: 0.4;
		animation-delay: -2s;
	}
	.wave4 {
		animation: animate2 10s linear infinite;
		z-index: 1;
		opacity: 0.5;
		animation-delay: -5s;
	}
}

[id="home"] .introduction {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	&.ctn {
		margin-top: 0;
	}

	h1 {
		font: var(--uber);
		margin-bottom: 2rem;

		span {
			font: var(--regular);
		}
	}

	.accent {
		color: var(--contrast);
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 2rem;
		@media (min-width: 769px) {
			flex-direction: row;
		}
	}

	.qualities {
		display: flex;
		align-items: stretch;
		gap: var(--spacing-thinnest);

		@media (min-width: 967px) {
			flex-direction: column;
		}

		span {
			flex-grow: 1;
			padding: 0.5rem 1rem;
			background-color: var(--light);
			color: var(--darker);
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 100px 10px / 120px;
		}
	}
}

[id="home"] .contributions {
	margin-top: 7rem;

	h2 {
		font: var(--h1);
		margin-bottom: 1rem;
	}

	.list {
		margin-top: 2rem;

		display: flex;
		flex-direction: column;
		gap: 0.75rem;
	}

	article {
		display: grid;
		grid-template-columns: 1fr 1fr 5fr 1fr;
		gap: 0.5rem;
		justify-content: space-between;
		align-items: center;

		.source::before {
			content: "[";
		}
		.source::after {
			content: "]";
		}

		a {
			transition: transform 180ms linear;
		}

		a:hover {
			cursor: pointer;
			transform: scale(1.2);
		}

		& > *:last-child {
			margin-inline: auto;
		}
	}

	svg {
		height: 1.5rem;
	}
}
